<<<<<<< HEAD
html,body {
	 margin: 10px;

padding: 0 auto;

width: 800px;
font-family: arial;
    /*Empty for now*/
}
body {
    margin-left: 5%;
    margin-right: 5%;
}


form {
        width:500px;
        margin:0px auto;
        border:1px solid black;
} 

.form-label{
	font-size: 16px;
	font-family: arial;
}

.btn-primary{
width: 100px;
 font-size: 16px;
}

.welcome {
    padding-top: 40vh;
}

.startButtons{
    width: 100px;
     font-size: 16px;
}

.oversight{
width: 100%;
}