html,body {
    margin: 10px;

    padding: 0 auto;

    width: 800px;
    font-family: arial;
}

body {
    margin-left: 5%;
    margin-right: 5%;
}

.form-label{
	font-size: 16px;
	font-family: arial;
}

.btn-primary{

    width: 200px;
    font-size: 16px;
}

.welcome {
    padding-top: 40vh;
}

.startButtons{
    width: 200px;
    width: 100px;
}

.oversight{
    width: 100%;
}